# Used by backend state 
tf_var_management_Location="__CHANGE_ME__"
tf_var_management_ProjectID="__CHANGE_ME__"
tf_var_management_BucketName="__CHANGE_ME__"

# Other variables needed by variables.tf_var
# tf_var_resource_prefix="__CHANGE_ME__"
